.attribution { 
    font-size: 0.75rem; 
    text-align: center;
    color:white; 
}

.attribution a { 
    color: hsl(228, 75%, 80%); 
}

:root{
    --orange: hsl(25, 97%, 53%);
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body, h1, p{
    margin:0;
}

input[type="radio"]{
    position:absolute;
    appearance:none;
    opacity:0;
}

button{
    box-sizing:border-box;
    padding:0;
    border:none;
    font:inherit;
}

body{
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    font-size:16px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    background-color:var(--very-dark-blue);
}

.main{
    max-width:25.75rem;
    height:26rem;
    box-sizing:border-box;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    background:radial-gradient(#232A34, #181E27);
    border-radius:30px;
    }

.main-1{
    align-items:flex-start;
    padding: 2rem;
}

.main-2{
    align-items:center;
    text-align:center;
    padding:3rem 2.25rem;
}


.icon{
    width:3rem;
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;

    background-color:var(--dark-blue);

    border-radius:50%;
}


.desc__header{
    margin-bottom:0.5rem;
    font-size:1.75rem;

    color:white;
}

.desc__p{
    font-size:0.9375rem;
    line-height:1.5rem;
    font-weight: 400;

    color:var(--light-gray);
}

.ratingForm{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;

}

.ratingSelect{
    width:100%;
    display:flex;
    justify-content:space-between;
    color:var(--medium-gray);

    margin-bottom:2rem;
}

.ratingOptionLabel:hover{
    cursor:pointer;

    background-color:var(--light-gray);
    color:white;
}

.ratingOption:checked + .ratingOptionLabel{
    background-color:var(--orange);
    color:white;
}

.submitBtn{
    width:100%;
    height:3rem;
    
    border-radius:23px;
    background-color:var(--orange);
    color:white;
}

.submitBtn:hover{
    cursor:pointer;

    background-color:white;
    color:var(--orange);
}

.youSelected{
    font-size:0.9375rem;
    font-weight: 400;

    padding:0.25rem 1.25rem;
    border-radius:22.5px;

    color:var(--orange);
    background-color:var(--dark-blue);
}

.hidden{
    display:none;
}

@media(max-width:480px){
    .main{
        max-width:20.5rem;
        height:22.5rem;
        border-radius:22.5px;  
    }

    .main-1{
        padding: 1.5rem 1.5rem 2rem 1.5rem;
    }

    .main-2{
        padding: 2rem 1.5rem;
    }

    .icon{
        width:2.5rem;
        height:2.5rem;
    }

    .desc__header{
        font-size:1.5rem;
        margin-bottom:1rem;
    }

    .desc__p{
        font-size:0.875rem;
    }

    .ratingSelect{
        margin-bottom:1.5rem;
    }

    .youSelected{
        font-size:0.875rem;

        padding:0.25rem 0.75rem;
    }
}